@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Products p = (Products)ViewData["product"];
}

<p>
    <img src="@p.ImageUrl" height="240" width="240"/>
    <span>@p.Name</span><br />
    <span>@p.Description</span>
</p>
