
@{
    ViewData["Title"] = "Home Page";
    List<Cart> CurrentCart = (List<Cart>)ViewData["cartdetail"];
    List<Products> products = (List<Products>)ViewData["data"];

}
@{

    foreach (Products item in products)
    {
        <div class='item'>
            @*<img class="img" src="@item.Products.ImageUrl">*@
            <p class='productName'>@item.Name   </p>
            <p class='productPrice'>$@item.Price</p>
            <form action="/ProductGallery/AddtoCart/@item.Id" class="addCart" method="post">
                <input type="submit" value="Add to Cart" name="productName">
            </form>
        </div>
    }
}

@{
    if (CurrentCart == null)
    {
        <div align="center">
            <span style="font-size:32px">
                Nothing in your cart! 
                Continue to shopping by clicking <a href="/ProductGallery">here</a>)
            </span>
        </div>
    }
    else
    {
        <div align="right" style="font-size: 26px; font-weight:bold; margin-right:25px;">
            Total: SDG: <span id="cTotal">
                @{
                    double sum = 0.00;
                    foreach (Cart item in CurrentCart)
                    {
                        sum = sum + item.ProductQty * item.ProductPrice;
                    }
                    string total = $"${sum:#,0.00}";
                }
                @total
            </span>
            <br /><br />
        </div>
    }}
