
@{
    ViewData["Title"] = "Home Page";
    List<Cart> CurrentCart = (List<Cart>)ViewData["cartdetail"];
    List<Products> products = (List<Products>)ViewData["data"];
    List<int> productQty = (List<int>)ViewData["cartQty"];

}


<style>
    .cart-table {
        table-layout: auto;
        width: 100%;
        text-align: left;
        font-size: 120%;
    }

    .cart-item {
        display: block;
        width: 100%;
        border-top: 2px solid #ace5ee;
        margin-bottom: 2px;
        box-sizing: border-box;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        background: #F5F5F5;
        color: #000;
    }

        .cart-item:nth-of-type(even) {
            background: #F8F8F8;
        }

    .cart-img {
        width: 180px;
    }

    .cartImg {
        width: 200px;
    }

    .cart-name {
        width: 260px;
    }
</style>

<section class="cart-grid">
    @{
        int i = 0;
        foreach (Products item in products)
        {
            // to print collated product qty from productQty list<>
            int qty = productQty[i];

            <div class='cart-item'>
                <table class="cart-table">
                    <tr>
                        <td class="cartImg"><img class="cart-img" src="@item.ImageUrl"></td>
                        <td class="cart-name"><p class='productName'>@item.Name   </p></td>
                        <td class="cart-price"><p class='productPrice'>$@item.Price</p></td>
                        <td class="cart-qty">
                            <form action="/Cart/increaseCartQty" method="post">
                                <input type="submit" id=@item.Id name=@item.Id value="+">
                            </form>
                            <form action="/Cart/decreaseCartQty" method="post">
                                <input type="submit" id=@item.Id name=@item.Id value="-">
                            </form>
<td class="cart-price"><p class='productPrice'>@qty</p></td>


                        <td>
                            <form action="/Cart/Remove" method="post">
                                <input type="hidden" name="removeItem" value="@item.Id">
                                <input type="submit" id=@item.Id name=@item.Id value="Remove">
                            </form>
                        </td>
                    </tr>

                </table>
            </div>
            i++;
        }
        
                <form action="/Cart/ConfirmPurchase" method="post" class=formHide>
                    <input type="submit" id=Cpurchase name=Cpurchase value="Confirm Purchase">
                </form>
            
    }
</section>

@{
    if (CurrentCart == null)
    {
        <div align="center">
            <span style="font-size:32px">
                Nothing in your cart!
                Continue to shopping by clicking <a href="/ProductGallery/Index">here</a>)
            </span>
        </div>
    }

    <form action="/Cart/EmptyCart" method="post">
        <input type="submit" id="cart-remove" name=cartRemove value="Empty cart">
    </form>
    {
        <div align="right" style="font-size: 26px; font-weight:bold; margin-right:25px;">
            Total: SGD: <span id="cTotal">
                @{
                    double sum = 0.00;
                    foreach (Cart item in CurrentCart)
                    {
                        sum = sum + item.ProductQty * item.ProductPrice;
                    }
                    string total = $"${sum:#,0.00}";
                }
                @total
            </span>
            <br /><br />
        </div>
    }}
