@{
    List<Products> products = (List<Products>)ViewData["productdetails"];
    List<transactionID> showpurchase = (List<transactionID>)ViewData["showPurchase"];
    List<ProductKey> pkeys = (List<ProductKey>)ViewData["pkeys"];
}


@{

    foreach (transactionID TID in showpurchase)
    {
        var iter = from pk in pkeys
                   where pk.transactionIDs == TID.Id
                   select pk.PKey;


        <table>
            <tr>
                <td>Quantity bought: @TID.qty</td>
                <td class="cart-qty">Purchased at: @UnixToDateTime(TID.CreateTimestamp)</td>
            </tr>
        </table>
        <select name="Product key from purchase">
            @foreach (var pkey in iter)
                {
            <option value="placeholder">@pkey</option>}
        </select>
                





    }
}
@functions{
    public static string UnixToDateTime(long unixTimeStamp)
    {
        DateTime dateTime = new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc);
        dateTime = dateTime.AddSeconds(unixTimeStamp).ToLocalTime();
        return dateTime.ToString();
    }
}